button {
    border: none;
    background-color: rgb(238, 238, 238);
    color: rgb(136, 12, 12);
    cursor: pointer;
    width: 200px;
    height: 25px;
    border-radius: 5px;
}

#cookieValue {
    color: rgb(29, 95, 226);
    font-size: 25px;
}

.kema {
    font-size: 30px;
}